## Exercise 5: Exploring Data Types

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url = "https://raw.githubusercontent.com/TrainingByPackt/Big-Data-Analysis-with-Python/master/Lesson01/RadNet_Laboratory_Analysis.csv"
df = pd.read_csv(url)

In [3]:
df.dtypes

State              object
Location           object
Date Posted        object
Date Collected     object
Sample Type        object
Unit               object
Ba-140            float64
Co-60             float64
Cs-134              int64
Cs-136            float64
Cs-137              int64
I-131               int64
I-132               int64
I-133             float64
Te-129            float64
Te-129m           float64
Te-132              int64
Ba-140.1          float64
dtype: object

In [4]:
df['Date Posted'] = pd.to_datetime(df['Date Posted'])
df['Date Collected'] = pd.to_datetime(df['Date Collected'])

In [5]:
columns = df.columns
id_cols = ['State', 'Location', "Date Posted", 'Date Collected', 'Sample Type', 'Unit']
columns = list(set(columns) - set(id_cols))
columns

['Te-129m',
 'I-131',
 'Te-132',
 'Co-60',
 'Cs-134',
 'Cs-136',
 'Ba-140',
 'Cs-137',
 'I-132',
 'I-133',
 'Te-129',
 'Ba-140.1']

In [6]:
df['Cs-134'] = df['Cs-134'].apply(lambda x: np.nan if x == "Non-detect" else x)
df.loc[:, columns] = df.loc[:, columns].applymap(lambda x: np.nan if x == 'Non-detect' else x)
df.loc[:, columns] = df.loc[:, columns].applymap(lambda x: np.nan if x == 'ND' else x)

In [7]:
for col in columns:
    df[col] = pd.to_numeric(df[col])

In [8]:
df.dtypes

State                     object
Location                  object
Date Posted       datetime64[ns]
Date Collected    datetime64[ns]
Sample Type               object
Unit                      object
Ba-140                   float64
Co-60                    float64
Cs-134                     int64
Cs-136                   float64
Cs-137                     int64
I-131                      int64
I-132                      int64
I-133                    float64
Te-129                   float64
Te-129m                  float64
Te-132                     int64
Ba-140.1                 float64
dtype: object

In [9]:
df['State'] = df['State'].astype('category')
df['Location'] = df['Location'].astype('category')
df['Unit'] = df['Unit'].astype('category')
df['Sample Type'] = df['Sample Type'].astype('category')

In [10]:
df.dtypes

State                   category
Location                category
Date Posted       datetime64[ns]
Date Collected    datetime64[ns]
Sample Type             category
Unit                    category
Ba-140                   float64
Co-60                    float64
Cs-134                     int64
Cs-136                   float64
Cs-137                     int64
I-131                      int64
I-132                      int64
I-133                    float64
Te-129                   float64
Te-129m                  float64
Te-132                     int64
Ba-140.1                 float64
dtype: object