In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark Session").getOrCreate()
df = spark.read.format('com.databricks.spark.csv').options(header='true', inferschema='true').load('iris.csv')
df.show(4)

+------------+-----------+------------+-----------+-------+
|sepal_length|sepal_width|petal_length|petal_width|species|
+------------+-----------+------------+-----------+-------+
|         5.1|        3.5|         1.4|        0.2| setosa|
|         4.9|        3.0|         1.4|        0.2| setosa|
|         4.7|        3.2|         1.3|        0.2| setosa|
|         4.6|        3.1|         1.5|        0.2| setosa|
+------------+-----------+------------+-----------+-------+
only showing top 4 rows

In [2]:
df.groupby('species').agg({'sepal_width' : 'mean'}).show()

+----------+------------------+
|   species|  avg(sepal_width)|
+----------+------------------+
| virginica|2.9739999999999998|
|versicolor|2.7700000000000005|
|    setosa|3.4180000000000006|
+----------+------------------+

In [3]:
df.groupby('species').count().show()

+----------+-----+
|   species|count|
+----------+-----+
| virginica|   50|
|versicolor|   50|
|    setosa|   50|
+----------+-----+